.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
   font-size: 36px;
   font-weight: 600; 
}
p{
    color: pink;
    font-size: 14px;
    font-weight: 300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: pink;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}